/*Estructura Inicial*/
.contenedor{
	border: 1px solid grey;
	border-radius: 5px;
}
.box{
	border: none;
	width: 200px;
	height: 200px;
}
.yellow{
	background: yellow;
}
.blue{
	background: blue;
}
.red{
	background: red;
}