<<<<<<< HEAD
*{
	box-sizing: border-box;
}
section{
	padding: 2rem;
	overflow: auto;
}
h1{
	text-align: center;
}
.contenedor{
	border: 2px solid grey;
	border-radius: 5px;
	overflow: auto;
	width: 100%;
}
.box{
	width: 150px;
	height: 100px;
}
.yellow{
	background: yellow;
}
.blue{
	background: blue;
}
.red{
	background: red;
}
/*Parte I*/
#parte-uno div{
	float: left;
}
/*Parte II*/
#parte-dos div{
	float: right;
}