*{
	box-sizing: border-box;
}
section{
	padding: 2rem;
}
h1{
	text-align: center;
}
.contenedor{
	border: 1px solid grey;
	border-radius: 5px;
	overflow: auto;
	width: 100%;
}
.box{
	width: 150px;
	height: 100px;
}
#parte-uno div{
	float: left;
}

.yellow{
	background: yellow;
}
.blue{
	background: blue;
}
.red{
	background: red;
